        <%- include('partials/header') %>
        <!-- views/pages/index.ejs -->
        <div class="jumbotron">
          <h1 class="display-3">Home Page</h1>
          <p class="lead">Here's our home page!</p>
          <hr class="my-4">
          <p>Here's more info about our home page!</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
 
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>    
      <p>Clever content goes here</p>
      
      <%- include('partials/header') %>
