 <%- include('../partials/header') %>
        <!-- views/users/index.ejs -->
        <div class="jumbotron">
          <h1 class="display-3">Users Page</h1>
          <p class="lead">Here's our users page!</p>
          <hr class="my-4">
          <p>Here's more info about our users page!</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div>
 
      <p>User data will go here</p>
      
      <%- include('../partials/footer') %>
